/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bw-button {
    @apply bg-green-600 border-0 hover:bg-green-700  hover:text-white px-6 py-2 text-white rounded-sm focus:outline-none hover:outline-none;
  }

  .bw-login {
    @apply py-2 px-6 w-full border bg-gradient-to-b rounded-sm flex items-center space-x-4 justify-center text-gray-100 h-12 text-sm;
  }

  .bw-login-icon {
    @apply h-12 text-2xl;
  }
}
